{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true
  },
  "env": {
    "jest": true
  },
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true,
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true
  },
  "plugins": ["react"],
  "extends": "standard",
  "rules": {
    "camelcase": [
      "error", {
        "properties": "never",
        "ignoreDestructuring": true
    }],
    "react/jsx-curly-spacing": ["error", {
      "when": "always",
      "attributes": false,
      "children": {
        "when": "always"
      }
    }],
    "object-curly-spacing": ["error", "always"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "padded-blocks": ["error",
      {
        "blocks": "never",
        "classes": "never",
        "switches": "never"
      }
    ]
  }
}
