#draggable-handle {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: block;
  padding: 2px 2px;
  color: grey;
  text-shadow: 1px 2px 2px darkgrey;
  font-size: 40px;
  line-height: 10px;
}

#draggable-handle::hover {
  cursor: pointer;
}
